.DS_Store
.sconf_temp/
.sconsign.dblite
config.log
vdrift.conf
build/
data/
include/.DS_Store
include/definitions.h
src/.DS_Store
tools/.DS_Store
tools/osx/.DS_Store
tools/osx/build/
tools/osx/vdrift.xcodeproj/project.xcworkspace
tools/osx/vdrift.xcodeproj/xcuserdata/