.DS_Store
a.out
Makefile
vdrift
include/definitions.h
vdrift.app/
vdrift-mac/
build/
data/
tools/osx/.DS_Store
tools/osx/vdrift.xcodeproj/project.xcworkspace/
tools/osx/vdrift.xcodeproj/xcuserdata/
*~
