[Desktop Entry]
Type=Application
Name=VDrift
Version=1.0
GenericName=Racing Simulation
Comment=An open source driving simulation made with drift racing in mind
Exec=vdrift
Icon=vdrift
Terminal=false
Categories=Game;Simulation;
