Source: vdrift
Section: games
Priority: optional
Maintainer: Matthew A. Nicholson <matt@matt-land.com>
Build-Depends: cdbs, debhelper (>= 4.1.0), libgl-dev, libglu-dev, libsdl1.2-dev,
 libsdl-image1.2-dev, libsdl-net1.2-dev, libalut-dev, libopenal-dev
Standards-Version: 3.6.2

Package: vdrift
Architecture: any
Depends: ${shlibs:Depends}, vdrift-data (= ${Source-Version})
Description: An open source drift racing simulation
 VDrift is a cross-platform, open source driving simulation made with drift
 racing in mind. It's powered by the excellent Vamos physics engine. It is
 released under the GNU General Public License (GPL) v2.
 .
 Website: http://vdrift.net

Package: vdrift-data
Architecture: all
Recommends: vdrift (= ${Source-Version})
Description: An open source drift racing simulation
 VDrift is a cross-platform, open source driving simulation made with drift
 racing in mind. It's powered by the excellent Vamos physics engine. It is
 released under the GNU General Public License (GPL) v2.
 .
 Website: http://vdrift.net
 .
 This package contains data files for VDrift.
